html,
body {
    height: 100%;
    width: 100%;
    background-color: #0c0c0c;
    /* background-image: linear-gradient(transparent, #3a75c2, #64d3b7), url("https://i.pinimg.com/originals/24/c5/81/24c5818e40cc8eb77a0a21ff3b801df0.jpg"); */

}

h1 {
    color: green;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(34, 36, 35);
}

li {
    float: left;
    /* padding-right: 5%;
    background-color: rgb(34, 36, 35); */
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#icon {
    padding-top: 9%;
    width: 20%;
    margin-left: 0%;
    float: "left";
    padding-left: 0%;
}

#text {
    padding-left: 25%;
    padding-top: 10%;
    display: inline;
    float: none;
    position: absolute;
    color: aliceblue;
    /* text-align: center; */
}

#developerline {
    font-size: 500%;
}

#developer {
    color: rgb(0,182,166);
}

#chrome {
    padding-bottom: 2%;
    font-size: 170%;
    color: rgb(0,200,174);
}

.contact {
    float: right;
}

.made {
    float: right;
    /* position: absolute; */
}

/* .navbutton {
    padding: 6%;
  } */